.ratings-section {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.ratings-table {
    width: 1200px;
    border-bottom: 1px solid rgb(236, 239, 241);
    border-top:1px solid rgb(236, 239, 241) ;
    border-left:1px solid rgb(236, 239, 241) ;
    border-right:1px solid rgb(236, 239, 241) ;
    text-align: left;
 }

.ratings-table th,td{
    
    border-collapse: collapse;
    padding: 10px;
    border-bottom: 1px solid rgb(236, 239, 241);

    
    
}

.ratings-table tr:hover{
    background-color: #f5f5f5;

}

.btcTable{
    padding: 150px ;
    width: 150px;
    height: 70px;
    display: table-row;
    align-items: center;;
    text-align: left;
    margin-top: 3px;
    align-content: center;
    padding-right: 30px;
    border:   grey ;
    
    
    
}
.btcChange{
    color: red;
    
}
.btcButton{

    background-color:#02aa6d;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    color: white;
    border: 1px;

}
.btcButton :hover{
  background-color:whitesmoke;
}
.btcLogo{

    width:30px;
    height: 30px;
    margin-right:  10px;
    
}
.chartImg{
    width: 70px;;
    color: white;
    background-color: white;
}
