
.tdPanel{

    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
  padding: 90px;
  
  display: flex;
  flex-direction: row;
  
}
.LeftSide{
    flex-direction: column;
    padding: 10px;
    
}
.paraSmall{
    size: 10px;
    
    

}
.SeButton{
    background-color: #0000ff;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border: 0px;
}
.LeftSide, .RightSide {
    display: flex;
    flex: 50%;
}

.RightSide {
    flex-direction: column;
}


.HoverCard{
    width: 650px;
    background-color:white;
    height: 80px;
    padding: 10px;
    float: right;
  flex-direction: column;
  justify-content: center;
  border: 300px;
  }
.HoverCard:hover{
background-color:white;
color: black;
box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);;
transition-duration: 0.4s;

    
}.HoverCard1{

    width: 600px;
    background-color: white;
    height: 70px;
    float: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 20px 6px 20px 6px rgba(0,0,0,0.19);;
    transition-duration: 0.4s;
}

.writeSide{
    float: right;
    color: #02aa6d;
    padding-right: 50px;
}
.skalaImg{
    
    size: 50%;
    
}
.Skale{
    padding-left:30px ;
    float: left;
    

    
}
.skl{
    margin-left: 200px;
    margin-top: 27px;
    color: grey;
}
.forth{
    margin-left: 400px;
    color: grey;
    margin-top: 27px;
}
.Gt{
    margin-right: 320px;
    ;
}
.viewmore{
    color: #0000ff;
    padding-top: 30px;
}
.xlm{
    margin-left: 250px;
    margin-top:30px;
    color: grey;
   
}
.earn{
    font-size: 25px;
    line-height: 0.6;

}
